$bgHeaderTableLevel1: #4C6375;
$colorText: $bgHeaderTableLevel1;
$colorBorderBottom: #9e9e9e;
$colorActiveTab: #f05b1f;
$tabheight: 40px;
.header-tab {
    margin: 1rem 1.5rem;
    .tabs {
        position: relative;
        overflow-x: auto;
        overflow-y: hidden;
        height: $tabheight;
        width: 100%;
        background-color: #fff;
        margin: 0 auto;
        white-space: nowrap;
        border-bottom: 1px solid $colorBorderBottom;
        .tab {
            display: inline-block;
            text-align: center;
            line-height: $tabheight;
            height: $tabheight;
            padding: 0;
            margin: 0;
            text-transform: uppercase;
            a {
                color: $colorText;
                display: block;
                width: 100%;
                height: 100%;
                padding: 0 24px;
                font-size: 14px;
                text-overflow: ellipsis;
                overflow: hidden;
                transition: color .28s ease;
                &.active {
                    background-color: transparent;
                    font-weight: bold;
                    border-bottom: 3px solid $colorActiveTab;
                }
            }
        }
    }
}
