@import "table";
@import "pager";
$paddingRightContainer: 17px;
.table-container {
    overflow-x: auto;
}

.header-content,
.body-content,
.footer-content {
    border: solid 1px $colorBorderTable;
    .table {
        border-right: 1px solid $colorBorderTable;
        td {
            &:first-child {
                border-left: none;
            }
        }
    }
}

.table {
    th,
    td {
        white-space: normal;
        overflow: hidden;
        text-overflow: ellipsis;
        min-width: 1px;
    }
}

.header-content,
.body-content,
.footer-content,
.table-wrapper {
    position: relative;
}

.header-content,
.footer-content {
    padding-right: $paddingRightContainer;
}

.first-row {
    height: auto;
    td {
        height: 0;
        border: none !important;
        padding: 0 !important;
        line-height: 0;
    }
}

.body-content {
    overflow-y: auto;
    overflow-x: auto;
    border-top: none;
    &.hasScroll {
        padding-right: 0;
    }
    tr:last-child {
        td {
            border-bottom: none;
        }
    }
}

.header-content {
    border-bottom: none;
    .table>thead>tr {
        >th {
            border: none;
            border-left: 1px solid #fff;
            &.sortable {
                cursor: pointer;
        
                .asc, .desc {
                    display: inline-block;
                    margin-left: 4px;
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;
                }
        
                .asc {
                    border-bottom: 5px solid;
                }
        
                .desc {
                    border-top: 5px solid;
                }
            }
        }
        &:nth-child(n + 3) {
            border-top: 1px solid #fff;
        }
    }
}

.footer-content {
    border-top: none;
    .table {
        font-weight: bold;
        .fixed-table- {
            &total {
                td {
                    border-bottom: none;
                }
            }
            &grant-total {
                td {
                    background: rgb(184, 195, 201);
                }
            }
        }
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}