.rmp-main-container {
    position: relative;
    .mp-container {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        * {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
        position: absolute;
        width: 220px;
        text-align: center;
        padding: 5px;
        color: #333;
        background: #fff;
        border: 1px solid #ccc;
        border-bottom-color: #bbb;
        z-index: 10;
        left: 0;
        .mp-header {
            padding-bottom: 5px;
            .mp-select-year {
                font-size: 12px;
                padding: 3px;
                border-radius: 2px;
            }
        }
        .mp-month-table {
            table-layout: fixed;
            border-collapse: collapse;
            border-spacing: 0;
            width: 100%;
            .mp-row {
                background: #fff;
                td {
                    padding: 0;
                }
                .mp-btn-month {
                    width: 100%;
                    cursor: pointer;
                    display: block;
                    outline: none;
                    border: 1px solid #e8e3e3;
                    margin: 0;
                    font-size: 12px;
                    line-height: 15px;
                    padding: 5px;
                    background: #f5f5f5;
                    &:hover {
                        color: #fff;
                        background: #33aaff;
                        border: 0;
                    }
                    &.mp-disabled {
                        pointer-events: none;
                        cursor: default;
                        color: #999;
                        opacity: 0.3;
                    }
                    &.mp-active {
                        color: #fff;
                        font-weight: bold;
                        background: #ff8000;
                        border: 0;
                    }
                }
            }
        }
    }
}